@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.banner {
  @include fullWidth;
  padding: 60px 0;
  text-align: center;
  background-color: rgba($colorGrey, 0.8);
  background-blend-mode: lighten;
  background-image: url("../img/banner.webp");
  background-repeat: no-repeat;
  background-size: cover;
  color: $colorText;
  background-position-y: 60%;

  &__title {
    @include fullWidth;

    font-weight: 600;
    font-size: 1.875rem;
    margin: 10px;
  }

  &__text {
    @include fullWidth;
    margin: 0 auto;
    font-size: 25px;
    opacity: 0.7;
  }
}