@use "variables" as *;
@use "mixins" as *;

@media (max-width: $breakpointTablet) {
  .header {
    padding: 15px;

    &__img {
      width: 60px;
    }

    &__icon,
    &__logo {
      width: 30px;
    }
  }

  .products-grid {
    @include responsiveGrid(200px);

    &__img {
      width: 150px;
    }
  }

  .cart {
    width: 400px;
    top: 80px;
  }
}

@media (max-width: $breakpointMobile) {
  .banner {
    padding: 30px 0;

    &__title {
      font-size: 18px;
    }

    &__text {
      font-size: 16px;
    }
  }

  .products-grid {
    grid-template-columns: 1fr;
    padding: 10px;

    &__img {
      @include fullWidth;
      max-width: 200px;
      margin-bottom: 10px;
    }

    &__title,
    &__price {
      padding: 0 10px;
    }
  }

  .cart {
    @include fullWidth;
    box-shadow: none;

    &__title {
      padding: 15px 0;
    }

    &__item {
      flex-direction: column;
      align-items: center;
    }

    &__img {
      @include fullWidth;
    }

    &__price {
      margin: 0;
    }
  }
}