$fontMain: "Lexend", Arial, Helvetica, sans-serif;

$colorDark: #333;
$colorWhite: #FFF;
$colorText: #1d1d1d;
$colorGrey: #d1d1d1;
$colorRed: #d32f2f;
$colorRedBackground: #b71c1c;

$shadowCart: -19px -1px 22px -15px rgba(0, 0, 0, 0.30);

$breakpointTablet: 820px;
$breakpointMobile: 480px;